include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body
    include ../components/global/header
    //main
    main.index
      include ../pages/index/first-screen
      include ../pages/index/section-order
    include ../components/modals/pages
    include ../components/global/scripts