//1-screen

.first-screen{
	padding: 120px 0 89px;
	position: relative;
	background: #FCDA28;
	span{
		margin-top: 34px;
		display: flex;
		width: 50%;
		font-size: 24px;
		line-height: 28px;
		@media screen and (max-width: 1199px){
			margin-top: 0;
			font-size: 20px;
		}
		@media screen and (max-width: 768px){
			font-size: 16px;
			width: 100%;
		}
	}
	&:after{
		content: '';
		position: absolute;
		bottom: -113px;
		right: 0;
		width: 816px;
		height: 845px;
		background: url(../img/lemone.png) no-repeat;
		z-index: 1;
		@media screen and (max-width: 1199px){
			bottom:-89px;
			height: 100%;
			width: 370px;
			background-size: contain;
		}
		@media screen  and (max-width: 768px) {
			bottom: -213px;
		    width: 160px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		}
		@media screen  and (max-width: 480px){
			bottom:-247px;
		}
		@media screen  and (max-width: 450px){
			bottom:-301px;
		}
	}
	@media screen and (max-width: 1199px){
		padding: 40px 0;
	}
	@media screen and (max-width: 768px){
		padding: 20px 0;
		text-align: center;
	}
}

.first-screen__tiitle{
	position: relative;
	font-size: 144px;
	font-weight: 700;
	color: #fff;
	line-height: 142px;
	text-transform: uppercase;
	z-index: 2;
	@media screen and (max-width: 1199px){
		margin-bottom: 20px;
		font-size: 71px;
		line-height: 71px;
	}
	@media screen and (max-width: 768px){
		margin-bottom: 0;
		font-size: 35px;
		line-height: 35px;
	}
}

.h3{
	margin-top: 110px;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	p{
		width: 26%;
		font-size: 18px;
		line-height: 28px;
		font-weight: 400;
		text-transform: none;
		@media screen and (max-width: 768px){
			font-size: 14px;
			width: 100%;
		}
	}
	@media screen and (max-width: 1199px){
		margin-top: 30px;
	}
	@media screen and (max-width: 768px){
		margin-top: 15px;
		font-size: 20px;
		width: 100%;
	}
}

