//fdsfsd
.section-order{
	padding: 110px 0;
	background: #111;
	text-align: center;
	@media screen and (max-width: 768px){
		padding-bottom: 40px;
	}
}

.section-order__title{
	margin-bottom: 75px;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	span{
		color:#FCB500;
	}
	@media screen and (max-width: 768px){
		margin-top: 60px;
	    font-size: 24px;
	    margin-bottom: 11px;
	}
}

.section-order__oldprice{
	margin-right: 30px;
	color: #ADADAD;
	font-size: 36px;
	color:#ADADAD;
	font-weight: 400;
	text-decoration: line-through;
	@media screen and (max-width: 768px){
		font-size: 31px;
	    margin-right: 15px;	
	}
}

.section-order__price{
	font-size: 48px;
	color:#fff;
	@media screen and (max-width: 768px){
		font-size: 40px;
	}
}

.section-order-block{
	margin-top: 60px;
	margin-bottom: 64px;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	@media screen and (max-width: 768px){
		margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
}

.section-order-column{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	min-height:280px;
	img{
		@media screen and (max-width: 768px){
			width: 200px;
		}
	}
	@media screen and (max-width: 768px){
		justify-content: center;
		align-items:center;
		margin-top: 40px;
		min-height:auto;
	}
}

.section-order-block__text{
	p{
		font-size: 18px;
		color:#fff;
	}
	span{
		color:#fcb500;

	}
	@media screen and (max-width: 768px){
		margin-top: 20px;
	}
}

.section-order-block__text-big{
	p{
		font-size: 36px;
		@media screen and (max-width: 768px){
			font-size: 22px;
		}
	}
	span{
		font-size: 24px;
		@media screen and (max-width: 768px){
			font-size: 18px;
		}
	}
}











