//first-screen

section.first-screen
	.container
		h2.first-screen__tiitle Активируй иммунитет!
		span Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма
		h3.h3 Nootris помогает
			p Вашему организму во время пандемии и сезонных простуд