//pug

section.section-order
	.container
		h2.section-order__title 
			| получи защиту иммунитета
			br
			span со скидкой -15% первым!
		span.section-order__oldprice 750₽
		span.section-order__price 690₽
		.section-order-block
			.section-order-column
				img(src="img/imbir.png")
				.section-order-block__text
					p Содержит
					span имбирь
			.section-order-column
				img(src="img/batery.png")
				.section-order-block__text.section-order-block__text-big
					p + Бесплатная доставка
					span Специальная цена
			.section-order-column
				img(src="img/virus.png")
				.section-order-block__text
					p Содержит
					span имбирь
		button.btn.btn_yellow Оформить заказ!