//header

.header{
	display: flex;
	min-height: 80px;
	background: #111;
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.header__logo{
	display: flex;
	align-items: center;
	width: 120px;
	height: 35px;
}

.header__nav{
	@media screen and (max-width: 1199px) {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left:0;
		right: 0;
		margin-top: 0;
		min-width: 300px;
		height: 100%;
		background: #000;
		text-align: center;
		overflow-y: auto;
		z-index:20;
		transform: translateX(-100%);
		transition: all .3s ease;
	}
	&.open{
		@media screen and (max-width: 1199px){
			transform: translateX(0);
			transition: all .3s ease;
		}
	}
}

.header__list{
	display: flex;
	flex-direction:row;
	li{
		&:not(:last-child){
			margin-right: 30px;
			@media screen and (max-width: 1199px){
				margin-right: 0;
			}
		}
		@media screen and (max-width: 1199px){
			padding: 20px 0;
			&:hover{
				background: #fcda28;
			}
		}
	}
	a{
		font-size: 18px;
		color:#fff;
		&:hover{
			color:#fcb500;
		}
		@media screen and (max-width: 1199px){
			display: block;
			&:hover{
				color:#fff;
			}
		}
	}
	@media screen and (max-width: 1199px){
		flex-direction:column;
		width: 100%;
	}
}

.header__phone{
	color:#fff;
	font-size: 18px;
	cursor: pointer;
	&:hover{
		color:#fcb500;
	}
	@include mq('1198', max){
		display: none;
	}
}

.header__basket{
	position: relative;
	display: flex;
	align-items: center;
	width: 32px;
	height: 28px;
	p{
		position: absolute;
		bottom: -7px;
		right: -9px;
		content:'';
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		font-size: 12px;
		color:#000;
		background: #FCB500;
		border-radius: 50%;
	}
}

//burger

.burger{
	display: none;
	outline: none;
	@media screen and (max-width: 1199px){
		position:relative;
		display:inline-block;
		width: 21px;
		height: 21px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: 30;
	}
}

//burger-icon

/*burger icon*/
.menu.icon {
	position: absolute;
	top:5px;
	margin-left: -9px;
	width: 17px;
	height: 1px;
	color: #fff;
	background-color: currentColor;
	&:before{
		position: absolute;
		top: 4px;
		left: 0;
		width: 17px;
		height: 1px;
		content: '';
		background-color: currentColor;
		transition:.3s;
	}
	&:after{
		position: absolute;
		top: 9px;
		left: 0;
		width: 17px;
		height: 1px;
		content: '';
		background-color: currentColor;
		transition:.3s;
	}
}
.close.icon {
	position: absolute;
	top:0;
	margin-left: -21px;
	width: 21px;
	height: 21px;
	color: #fff;
	&:before{
		position: absolute;
		top: 10px;
		width: 21px;
		height: 1px;
		content: '';
		background-color: currentColor;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		transition:.3s;
	}
	&:after{
		position: absolute;
		top: 10px;
		width: 21px;
		height: 1px;
		content: '';
		background-color: currentColor;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		transition:.3s;
	}
}


body.menu_open{
	@media screen and (max-width: 1199px){
		overflow: hidden;
	}
}