head
	meta(charset="utf-8")
	base(href="")
	title Title
	meta(name="keywords" content="keywords")
	meta(name="description" content="description")
	//favicon
	link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
	link(rel="apple-touch-icon", sizes="192x192", href="favicons/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png")
	link(rel="manifest" href="favicons/site.webmanifest")
	link(rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5")
	meta(name="msapplication-TileColor" content="#dbe6f2")
	meta(name="theme-color" content="#ffffff")
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
	//viewport
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
	//styles
	link(rel="stylesheet" type="text/css" href="css/style.min.css")
	link(rel='preconnect', href='')
