//header
header.header
	.container
		<button class="burger"><i class="menu icon"></i></button>
		a(href="./").header__logo
			+icon('logo')
		nav.header__nav#menu
			ul.header__list
				li
					a(href="#") FAQ
				li
					a(href="#") Оплата и доставка
				li
					a(href="#") Возврат
				li
					a(href="#") Исследования
				li
					a(href="#") Личный кабинет
		a.header__phone(href="tel:+78006000990") 8 (800) 600-09-90
		a(href="#").header__basket
			+icon('icon-basket')
			p 1
