$font-family-main: 'Rubik', sans-serif;

//SIZE
$font-size-main: 16px;
$font-size-h1: 40px;
$font-size-h2: 32px;
//COLORS
$black: #000;
$white: #fff;

$breakpoints: ("320": 320px, "768": 768px, "1024": 1024px, "1198": 1198px, "1438": 1438px, "1600": 1600px);
//width container
$max-width: 1640px;