.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(118.19/10)*1rem;
	width:(160/118.19)*1em;
}
.icon-icon-basket {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-logo {
	font-size:(35/10)*1rem;
	width:(120/35)*1em;
}
