.btn{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  font-size: 18px;
  color:#000;
  font-weight: 400;
  min-width: 256px;
  height: 56px;
  text-align: center;
  border-radius: 7px;
  transition: .3s;
  cursor: pointer;
}

.btn_yellow{
  background-color: #FCB500;
  &:hover{
    background: #f5c242;
  }
}